{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Přihlášení</h1>
    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    {{ form_end(loginForm) }}
    <div><a href="{{ path('register')}}">Zaregistrovat</a></div>
{% endblock %}
