{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-lg app-container">
        <h1>Registrace</h1>
        <hr>
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}
        <div><a href="{{ path('login')}}">Zpět na přihlášení</a></div>
    </div>
{% endblock %}