{% extends 'layout.html.twig' %}
{% block title %}BadiMenu | {{ selectedHousehold.name }}{% endblock %}

{% block body %}
	<div class="container app-container-main">
		<div class="d-grid">
			<a href="{{ path('mealList') }}" class="btn btn-lg btn- btn-primary align-middle mt-2"><i class="fa fa-pizza-slice"></i> Jídla</a>
			<a href="{{ path('mealTagList') }}" class="btn btn-lg btn- btn-primary align-middle mt-2"><i class="fa fa-tag"></i> Štítky</a>
		</div>
	</div>
{% endblock %}