{% extends 'layout.html.twig' %}
{% block title %}BadiMenu | {{ selectedHousehold.name }}{% endblock %}

{% block body %}
	<div class="container app-container-main">
		<h1>HomePage</h1>
	</div>
{% endblock %}