<div class="container">
	{% for userHousehold in userHouseholds %}
			<div class="row app-list-row">
				<a href="#" class="col app-list-row-header">
					<div class="row">
						<div class="col-3" style="text-align: center">
							<img
									src="{{ userHousehold.household.image|checkNoImg(userHousehold.household) }}"
									alt="{{ userHousehold.household.name }}"
									class="app-list-icon-sm"
							>
						</div>
						<div class="col">
							<h4>{{ userHousehold.household.name }}</h4>
							{% if userHousehold.allowed and userHousehold.allowedToCook %}
								<div class="app-list-icon-xs">
									{{ source('@public_path'~icon_chef) }}
								</div>
							{% endif %}
						</div>
					</div>
				</a>
			</div>
	{% endfor %}
</div>