<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">BadiMenu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="{{ path('homepage') }}">Home</a>
                <a class="nav-link disabled" href="#">Kalendář</a>
                <a class="nav-link disabled" href="#">Jídelní lístek</a>
                <a class="nav-link disabled" href="#">Jídla</a>
            </div>
            <hr style="color: #FFFFFF;height: 0.1em;opacity: 0.5;">
            <div class="navbar-nav ms-auto">
                <a class="btn btn-light" href="#"><i class="bi-person-circle"></i> {{ loggedUser.name }}</a>
                <a class="btn btn-outline-light" href="{{ path('logout')}}">Odhlásit se</a>
            </div>
        </div>
    </div>
</nav>