{# @controller MealTag:list #}
{% extends 'layout.html.twig' %}
{% block title %}BadiMenu | Štítky{% endblock %}

{% block body %}
	<div class="container app-container-main">
		<h1>Štítky</h1>
		<div id="mealTagList" style="position: relative;">
			<vue-meal-tag-list provide-list-data-link="{{ path('mealTagProvideListData') }}" process-create-form-link="{{ path('mealTagCreate') }}"></vue-meal-tag-list>
		</div>
	</div>
{% endblock %}