body {
    background: #e8e8e8;
}
.app-container-round {
    max-width: 25em;
    background-color: #FFFFFF;
    margin: 2em auto auto;
    padding: 1.5em;
    box-shadow: 0 0 1em #767676;
    border-radius: 1em;
    z-index: -1;
}
.app-container-main {
    background-color: #FFFFFF;
    box-shadow: 0 0 1em #767676;
    padding-bottom: 1em;
}
.app-flash-box-over {
    position:fixed;
    width: 100%;
    z-index: 999;
}
.app-flash-box {
    z-index: 999;
    position:fixed;
    margin: 4.6em auto auto;
    box-shadow: 0 0 1em #767676;
    border-radius: 0.2em;
    width: 90%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-light {
    color: #0d6efd;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.app-img-meal {
    max-width: 100%;
    max-height: 12em;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .app-img-meal {
        max-height: 60em;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .app-img-meal {
        max-height: 40em;
    }
}