{# @controller Household:listAdd #}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container app-container-main">
        <h1>Přidat domácnost</h1>
        {{ householdList|raw }}
    </div>
{% endblock %}